@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap');

/*  env */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: black;
}

#container {
    height: 100vh;
}

/*  modifiers   */
.inverted {
    filter: invert(100%)
}

.bw {
    filter: grayscale(100%);
}

.bwi {
    filter: invert(100%) grayscale(100%);
}

.notext {
    color: transparent;
}

.notext:hover {
    color: transparent;
}

/*  visuals  */
.logo {
    height: 150%;
    width: 100%;
    object-fit: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

.grid {
    height: 100%;
    width: 100%;
    padding: min(30%, 20vh) min(20%, 20vw);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(10vw, 10vh), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(max(10vw, 10vh), 1fr));
    grid-row-gap: max(1vw, 1vh);
    grid-column-gap: max(1vw, 1vh);
    justify-content: center;
    place-items: center;

    position: absolute;

    opacity: 0;
}

.icon {
    height: max(10vw, 10vh);
    width: max(10vw, 10vh);
    object-fit: fill;
    alignment: center;

    padding: 2vh 2vw;

    border: 1px gray solid;
    border-radius: 10pt;
}

/*  text    */
.name {
    font-size: min(300pt, 30vw);
    font-family: 'Kaushan Script', cursive;
    color: purple;

    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

.label {
    font-size: min(100pt, 10vw);
    font-family: sans-serif;
    color: purple;

    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    opacity: 0;
}

.text {
    font-size: min(30pt, 5vw);
    color: mediumpurple;

    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}
